.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: center;
  gap: 40px 20px; /*Please note that this value should be different on mobile screens, it's neccessary to change this value in a media query.*/
  padding-bottom: 0;
  margin: 0;
  /*A bottom padding in this section is missing. Please note that we need different values for desktop and mobile screens.*/
}

.cards {
  padding-top: 20px;
}
/*320px-419px*/
@media screen and (max-width: 419px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
